.uno{
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
}
.presta>p{
    color: #BC8420;
}
.history>p{
    color: #BC8420;
}
h3{
    color: #BC8420;
}
.carte{
    background-color: #a39e9e;
}
.burger{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
}
figcaption{
    text-align: center;
}
img:hover{
    opacity: 0.4;
}
.panini img{
    width: 95%;
}
.resa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    height: 100%;
}
input{
    background-color: #2d2d2d;
    color: #BC8420;
    border-radius: 6px 6px 6px 6px;
}
main{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width:768px){
    .burger{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .burgertitre{
        align-self: center;
    }
    .pizza{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pizza img{
        width: 110%;
    }
    .panini{
        display: flex;
        flex-direction: row;
    }
    .sushi{
        display: flex;
        flex-direction: row;
    }

}
    
