
html,
body {
    height: 100%;
    margin: 0
}
body{
    background-color: #a39e9e;
}

header {
    height: 15%;
}

main {
    height: 70%;
}

footer {
    height: 15%;
}

.logo1>img {
    margin-left: 10px;
    height: 50px;
}

.logoh1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.listmenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #141010;
    color: #BC8420;
    padding-bottom: 5px;
}

.titre1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.listmenu ul a {
    text-decoration: none;
    color: #BC8420;
}

@media screen and (min-width:768px) {
    header{
        height: 8%;
    }
    .nav {
        display: flex;
        flex-direction: row;

    }

    .listmenu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: end;
        align-content: space-between;
    }

    .listmenu>ul {
        gap: 80px;
        margin-right: 50px;
    }
}

.uno{
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
}
.presta>p{
    color: #BC8420;
}
.logoB{
    display: flex;
    justify-content: center;
    cursor: grabbing;
}
.history>p{
    color: #BC8420;
}
h3{
    color: #BC8420;
}
.carte{
    background-color: #a39e9e;
}
.burger{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
figcaption{
    text-align: center;
    font-style: oblique;
    color: #d9d9d9;
}
img:hover{
    opacity: 0.4;
    cursor: grab;
}
.panini img{
    width: 95%;
}
.resa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    height: 100%;
}
.pizza{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width:768px){
    .burger{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .burgertitre{
        align-self: center;
    }
    .pizza{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pizza img{
        width: 110%;
    }
    .panini{
        display: flex;
        flex-direction: row;
    }
    .sushi{
        display: flex;
        flex-direction: row;
    }
}